<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gridster - The Grid Generator</title>

    <link rel="icon" href="favicon-32x32.png" sizes="32x32" type="image/png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/interface/style.css" >
</head>
<body>
    <nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
      <span href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Gridster</span>
      </span>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto" role="tablist">
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="pill" data-bs-target="#stage" role="tab">
                <i class="bi-layout-wtf"></i> View Stage
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="pill" data-bs-target="#edit-setup" role="tab">
                <i class="bi-pencil-fill"></i> Edit Stage
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="pill" data-bs-target="#grids-settings" role="tab">
                <i class="bi-grid-3x3"></i> Edit Grids
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="pill" data-bs-target="#load-setup" role="tab">
                <i class="bi-file-arrow-up"></i> Load layout from CSV
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="pill" data-bs-target="#save-setup" role="tab">
                <i class="bi-save"></i> Save Layout as CSV
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="pill" data-bs-target="#how-to" role="tab">
                <i class="bi-question-circle"></i> Documentation
                </a>
            </li>
        </ul>
    </nav>

    <main class="container">
    <form method="post">

    <div id="actions" class="pb-3 mt-3 mb-3">
        <button type="submit" name="generate-grids" value="generate-grids" class="btn btn-primary"
        {% if stage.isEmpty %}disabled{% endif %}
        />
            Generate Grids
        </button>
        <button type="submit" name="watchout-sizes" value="watchout-sizes" class="btn btn-warning"
        {% if stage.isEmpty %}disabled{% endif %}
        />
            Sizes for Watchout
        </button>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade show" id="stage" role="tabpanel">
        </div>{# #stage #}

        <div class="tab-pane fade show active" id="edit-setup" role="tabpanel">

            <div class="group-fields">
            {% set screen_index = 0 %}
            {% set projector_index = 0 %}
            {% for group in stage.screenGroups %}
                <div class="input-group--group input-group input-group-sm mt-3 ">
                  <span class="input-group-text">Group</span>
                  <input type="text" name="groups[{{ loop.index0 }}][name]" class="form-control" value="{{ group.name }}">
                  <input type="text" name="groups[{{ loop.index0 }}][start-x]" class="form-control" value="{{ group.startX }}">
                  <input type="text" name="groups[{{ loop.index0 }}][start-y]" class="form-control" value="{{ group.startY }}">
                  <input type="text" name="groups[{{ loop.index0 }}][alignment]" class="form-control" value="{{ group.alignment }}">
                </div>

                {% set group_index = loop.index0 %}

                <div class="screen-inputs">
                  {%~ for screen in group.forEach %}
                  <div class="input-group--screen input-group input-group-sm mt-3">
                    <span class="input-group-text">Screen</span>
                    <input type="hidden" name="screens[{{ screen_index }}][group-index]" value="{{ group_index }}">
                    <input type="text" name="screens[{{ screen_index }}][name]" class="form-control" value="{{ screen.name }}">
                    <input type="text" name="screens[{{ screen_index }}][filename]" class="form-control" value="{{ screen.filename }}">
                    <input type="text" name="screens[{{ screen_index }}][width]" class="form-control" value="{{ screen.width }}">
                    <input type="text" name="screens[{{ screen_index }}][height]" class="form-control" value="{{ screen.height }}">
                    <input type="text" name="screens[{{ screen_index }}][density]" class="form-control" value="{{ screen.density }}">
                    <input type="text" name="screens[{{ screen_index }}][unit]" class="form-control" value="{{ screen.unit }}">
                    <input type="text" name="screens[{{ screen_index }}][origin-x]" class="form-control" value="{{ screen.origin.x }}">
                    <input type="text" name="screens[{{ screen_index }}][origin-y]" class="form-control" value="{{ screen.origin.y }}">
                    <input type="text" name="screens[{{ screen_index }}][origin-unit]" class="form-control" value="{{ screen.origin.unit }}">
                  </div>

                  <div class="projector-inputs">
                  {%~ for projector in screen.projectors.forEach %}
                    {% set projector_index = projector_index + 1 %}
                    <div class="input-group input-group-sm input-group--projector mt-3">
                      <span class="input-group-text">Projector</span>
                      <input type="hidden" name="projectors[{{ projector_index }}][screen-index]" value="{{ screen_index }}"> 
                      <input type="text" name="projectors[{{ projector_index }}][name]" class="form-control" value="{{ projector.name }}">
                      <input type="text" name="projectors[{{ projector_index }}][width]" class="form-control" value="{{ projector.width }}">
                      <input type="text" name="projectors[{{ projector_index }}][height]" class="form-control" value="{{ projector.height }}">
                      <input type="text" name="projectors[{{ projector_index }}][ip]" class="form-control" value="{{ projector.ip }}">
                      <input type="text" name="projectors[{{ projector_index }}][output]" class="form-control" value="{{ projector.output }}">
                    </div>
                  {% endfor %}
                  </div>

                  {% set screen_index = screen_index + 1 %}
                  {% endfor ~%}
                </div>
            {% endfor%}

            </div>
        </div>{# #edit-setup #}

        <div class="tab-pane fade show" id="load-setup" role="tabpanel">

            <div> ????? :
                {% for field,comment in screen_fields %}
                    <span title="{{ comment }}">{{ field }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
            <textarea name="stage-csv" class="w-100 mt-3"></textarea>
            <button type="submit" name="import-stage-from-csv" value="Load Stage from CSV" class="btn btn-primary"/>
            Load Stage from CSV
            </button>
        </div>

        <div class="tab-pane fade" id="grids-settings" role="tabpanel">
            <h3>Grid settings</h3>

            {% for code, layer in layers|reverse %}
                <div>
                    <input type="checkbox" name="layers[{{ code }}]" value="{{ code }}" checked disabled>
                    <label for="{{ code }}">{{ layer.name }}</label>
                </div>
            {% endfor %}
        </div>{# #grids-settings #}

        {% if watchoutSizes is not empty %}
        {% set left = 1000 %}
        <div>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th class="align-right">Width</th>
                    <th class="align-right">Height</th>
                    <th class="align-right">Left</th>
                    <th class="align-right">Top</th></tr>
                {% for grid in warping.grids %}
                {% set top = 2000 - (grid.height / 2)%}
                <tr>
                    <td>{{ grid.name }}</td>
                    <td class="align-right">{{ grid.width }}</td>
                    <td class="align-right">{{ grid.height }}</td>
                    <td class="align-right">{{ left }}</td>
                    <td class="align-right">{{ top }}</td>
                </tr>
                {% set left = left + grid.width %}
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
    </form>
    </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
