<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gridster - The Grid Generator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style type="text/css">
        .home-block {
            display: inline-block;
            min-height: 10em;
            width: 100%;
            font-family: monospace;
        }
        tr:nth-child(even) {background-color: #eeeeee;}
        .align-right { text-align: right; }
    </style>
</head>
<body>
    <form method="post">
    <div class="container">
        <h3>Grid settings</h3>

        {% for code, layer in layers|reverse %}
            <div>
                <input type="checkbox" name="layers[{{ code }}]" value="{{ code }}" checked>
                <label for="{{ code }}">{{ layer.name }}</label>
            </div>
        {% endfor %}

        <h3>Screens</h3>
        <fieldset>
          {% for screen in screens.forEach %}
          <div class="input-group input-group-sm">
            <input type="text" name="screens[{{ loop.index }}][name]" class="form-control" value="{{ screen.name }}">
            <input type="text" name="screens[{{ loop.index }}][filename]" class="form-control" value="{{ screen.filename }}">
            <input type="text" name="screens[{{ loop.index }}][width]" class="form-control" value="{{ screen.width }}">
            <input type="text" name="screens[{{ loop.index }}][height]" class="form-control" value="{{ screen.height }}">
            <input type="text" name="screens[{{ loop.index }}][density]" class="form-control" value="{{ screen.density }}">
            <input type="text" name="screens[{{ loop.index }}][unit]" class="form-control" value="{{ screen.unit }}">
            <input type="text" name="screens[{{ loop.index }}][origin-x]" class="form-control" value="{{ screen.origin.x }}">
            <input type="text" name="screens[{{ loop.index }}][origin-y]" class="form-control" value="{{ screen.origin.y }}">
            <input type="text" name="screens[{{ loop.index }}][origin-unit]" class="form-control" value="{{ screen.origin.unit }}">
          </div>
          {% endfor %}
        </fieldset>
        <button type="submit" name="load-screens" value="load screens" class="btn btn-primary"/>Load Screens</button>

        <div> Screens dimensions to be provided as CSV with the following fields :
            {% for field,comment in fields %}
                <span title="{{ comment }}">{{ field }}</span>{% if not loop.last %},{% endif %}

            {% endfor %}
        </div>
        <textarea name="screens-csv" class="home-block"></textarea>

        <h3>Projectors</h3>
        <textarea name="projectors" class="home-block"></textarea>

    </div>
    <div class="container">
        <button type="submit" name="generate-grids" value="generate-grids" class="btn btn-primary"/>Generate Grids</button>
        <button type="submit" name="watchout-sizes" value="watchout-sizes" class="btn btn-warning"/>Sizes for Watchout</button>
    </div>
    {% if watchoutSizes is defined %}
    {% set left = 1000 %}
    <div class="container">
        <table class="table">
            <tr><th>Name</th><th>Width</th><th>Height</th><th>Left</th><th>Top</th></tr>
            {% for grid in warping.grids %}
            <tr>
                <td>{{ grid.name }}</td>
                <td class="align-right">{{ grid.width }}</td>
                <td class="align-right">{{ grid.height }}</td>
                <td class="align-right">{{ left }}</td>
                <td class="align-right">{{ 1000 }}</td>
            </tr>
            {% set left = left + grid.width %}
            {% endfor %}
    </div>
    {% endif %}
    </form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
