<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gridster - The Grid Generator</title>

    <link rel="icon" href="favicon-32x32.png" sizes="32x32" type="image/png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/interface/style.css" >
</head>
<body>
    <nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
      <span href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Gridster</span>
      </span>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto" role="tablist">
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="pill" data-bs-target="#stage" role="tab">Stage</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="pill" data-bs-target="#grids-settings" role="tab">Grid Settings</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="pill" data-bs-target="#screens-settings" role="tab">Screens ({{ screens ? screens.count : '0' }})</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="pill" data-bs-target="#projectors-settings" role="tab">Projectors ({{ projectors ? projectors.count : '0' }})</a>
            </li>
        </ul>
    </nav>

    <main class="container">
    <form method="post">

    <div id="actions" class="mt-2">
        <button type="submit" name="generate-grids" value="generate-grids" class="btn btn-primary"
        {% if screens is empty %}disabled{% endif %}
        />
            Generate Grids
        </button>
        <button type="submit" name="watchout-sizes" value="watchout-sizes" class="btn btn-warning"
        {% if screens is empty %}disabled{% endif %}
        />
            Sizes for Watchout
        </button>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="stage" role="tabpanel">
            <h3>Grid settings</h3>

            <div> ******************************* :
                {% for field,comment in screen_fields %}
                    <span title="{{ comment }}">{{ field }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
            <textarea name="stage-csv" class="w-100"></textarea>
            <button type="submit" name="import-stage-from-csv" value="Load Stage from CSV" class="btn btn-primary"/>
            Load Stage from CSV
            </button>

            <div class="group-fields">
            {% for group in stage.screenGroups %}
                <div class="input-group input-group-sm mt-3 input-group--group">
                  <span class="input-group-text">Group</span>
                  <input type="text" name="groups[{{ loop.index }}][name]" class="form-control" value="{{ group.name }}">
                  <input type="text" name="groups[{{ loop.index }}][start-x]" class="form-control" value="{{ group.startX }}">
                  <input type="text" name="groups[{{ loop.index }}][start-y]" class="form-control" value="{{ group.startY }}">
                  <input type="text" name="groups[{{ loop.index }}][alignment]" class="form-control" value="{{ group.alignment }}">
                </div>

                <div class="screen-inputs">
                  {% for screen in group.forEach %}
                  <div class="input-group input-group-sm input-group--screen mt-3">
                    <span class="input-group-text">Screen</span>
                    <input type="text" name="screens[{{ loop.index }}][name]" class="form-control" value="{{ screen.name }}">
                    <input type="text" name="screens[{{ loop.index }}][filename]" class="form-control" value="{{ screen.filename }}">
                    <input type="text" name="screens[{{ loop.index }}][width]" class="form-control" value="{{ screen.width }}">
                    <input type="text" name="screens[{{ loop.index }}][height]" class="form-control" value="{{ screen.height }}">
                    <input type="text" name="screens[{{ loop.index }}][density]" class="form-control" value="{{ screen.density }}">
                    <input type="text" name="screens[{{ loop.index }}][unit]" class="form-control" value="{{ screen.unit }}">
                    <input type="text" name="screens[{{ loop.index }}][origin-x]" class="form-control" value="{{ screen.origin.x }}">
                    <input type="text" name="screens[{{ loop.index }}][origin-y]" class="form-control" value="{{ screen.origin.y }}">
                    <input type="text" name="screens[{{ loop.index }}][origin-unit]" class="form-control" value="{{ screen.origin.unit }}">
                  </div>
                  {% endfor %}
                  <button type="submit" name="add-screen" value="{{ loop.index }}" class="w-100 btn mt-3 add-screen-btn" id="add-screen-{{ loop.index }}">Add a screen to group "{{ group.name}}"</button>
                </div>

            {% endfor%}

              <button type="submit" name="add-group" value="add-group" class="w-100 btn mt-3" id="add-group">Add a group of screens</button>
            </div>
        </div>

        <div class="tab-pane fade" id="grids-settings" role="tabpanel">
            <h3>Grid settings</h3>

            {% for code, layer in layers|reverse %}
                <div>
                    <input type="checkbox" name="layers[{{ code }}]" value="{{ code }}" checked disabled>
                    <label for="{{ code }}">{{ layer.name }}</label>
                </div>
            {% endfor %}
        </div>

        <div class="tab-pane fade" id="screens-settings" role="tabpanel">
            <h3>Screens</h3>
            <fieldset>
              {% for screen in screens.forEach %}
              <div class="input-group input-group-sm">
                <input type="text" name="screens[{{ loop.index }}][name]" class="form-control" value="{{ screen.name }}">
                <input type="text" name="screens[{{ loop.index }}][filename]" class="form-control" value="{{ screen.filename }}">
                <input type="text" name="screens[{{ loop.index }}][width]" class="form-control" value="{{ screen.width }}">
                <input type="text" name="screens[{{ loop.index }}][height]" class="form-control" value="{{ screen.height }}">
                <input type="text" name="screens[{{ loop.index }}][density]" class="form-control" value="{{ screen.density }}">
                <input type="text" name="screens[{{ loop.index }}][unit]" class="form-control" value="{{ screen.unit }}">
                <input type="text" name="screens[{{ loop.index }}][origin-x]" class="form-control" value="{{ screen.origin.x }}">
                <input type="text" name="screens[{{ loop.index }}][origin-y]" class="form-control" value="{{ screen.origin.y }}">
                <input type="text" name="screens[{{ loop.index }}][origin-unit]" class="form-control" value="{{ screen.origin.unit }}">
              </div>
              {% endfor %}
            </fieldset>

            <div> Screens dimensions to be provided as CSV with the following fields :
                {% for field,comment in screen_fields %}
                    <span title="{{ comment }}">{{ field }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
            <textarea name="screens-csv" class="w-100"></textarea>
            <button type="submit" name="load-screens" value="load screens" class="btn btn-primary"/>
            Load Screens from CSV
            </button>

        </div>

        <div class="tab-pane fade" id="projectors-settings" role="tabpanel">
            <h3>Projectors</h3>

            <fieldset>
              {% for projector in projectors.forEach %}
              <div class="input-group input-group-sm">
                <input type="text" name="projectors[{{ loop.index }}][name]" class="form-control" value="{{ projector.name }}">
                <input type="text" name="projectors[{{ loop.index }}][screen]" class="form-control" value="{{ projector.screen }}">
                <input type="text" name="projectors[{{ loop.index }}][width]" class="form-control" value="{{ projector.width }}">
                <input type="text" name="projectors[{{ loop.index }}][height]" class="form-control" value="{{ projector.height }}">
                <input type="text" name="projectors[{{ loop.index }}][output]" class="form-control" value="{{ projector.output }}">
                <input type="text" name="projectors[{{ loop.index }}][ip]" class="form-control" value="{{ projector.ip }}">
              </div>
              {% endfor %}
            </fieldset>

            <div> Projectors settings to be provided as CSV with the following fields :
                {% for field,comment in projectorFields %}
                    <span title="{{ comment }}">{{ field }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
            <textarea name="projectors-csv" class="w-100"></textarea>
            <button type="submit" name="load-projectors" value="load projectors" class="btn btn-primary"/>
            Load Projectors from CSV
            </button>
        </div>

        {% if watchoutSizes is not empty %}
        {% set left = 1000 %}
        <div>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th class="align-right">Width</th>
                    <th class="align-right">Height</th>
                    <th class="align-right">Left</th>
                    <th class="align-right">Top</th></tr>
                {% for grid in warping.grids %}
                {% set top = 2000 - (grid.height / 2)%}
                <tr>
                    <td>{{ grid.name }}</td>
                    <td class="align-right">{{ grid.width }}</td>
                    <td class="align-right">{{ grid.height }}</td>
                    <td class="align-right">{{ left }}</td>
                    <td class="align-right">{{ top }}</td>
                </tr>
                {% set left = left + grid.width %}
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
    </form>
    </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
