<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gridster - The Grid Generator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style type="text/css">
        .home-block {
            display: inline-block;
            min-height: 10em;
            width: 100%;
            font-family: monospace;
        }
        tr:nth-child(even) {background-color: yellow;}
    </style>
</head>
<body>
    <form method="post" target="_blank">
    <div class="container">
        <h3>Grid settings</h3>

        {% for code, layer in layers|reverse %}
            <div>
                <input type="checkbox" name="layers[{{ code }}]" value="{{ code }}" checked>
                <label for="{{ code }}">{{ layer.name }}</label>
            </div>
        {% endfor %}

        <h3>Screens</h3>
        <div> Screens dimensions to be provided as CSV with the following fields :
            {% for field,comment in fields %}
                <span title="{{ comment }}">{{ field }}</span>{% if not loop.last %},{% endif %}

            {% endfor %}
        </div>
        <textarea name="screens" class="home-block"></textarea>

        <h3>Projectors</h3>
        <textarea name="projectors" class="home-block"></textarea>

    </div>
    <div class="container">

        <button type="submit" name="generate" value="generate grids" class="btn btn-primary"/>Generate Grids</button>
        <button type="submit" name="sizes" value="Size for Watchout" class="btn btn-warning"/>Sizes for Watchout</button>
    </div>
    </form>


<!-- <img src="my.svg" width="800" height="500"> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
